<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258076381203-buia2ijvaqhp5ne4o4kectv2lcc6nsi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258076381203-buia2ijvaqhp5ne4o4kectv2lcc6nsi4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258076381203-2jkfiihu0hdsp0t9u4udl81rurieorob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNWaa3xiu9u9a8Ww225wsJN5W9p7azJZU</string>
	<key>GCM_SENDER_ID</key>
	<string>258076381203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Tick-A-Trip-App</string>
	<key>PROJECT_ID</key>
	<string>tickatrip-8784c</string>
	<key>STORAGE_BUCKET</key>
	<string>tickatrip-8784c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258076381203:ios:19801db1daa0c64b546fe6</string>
</dict>
</plist>